{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <a class="navbar-brand" href="{% url 'medic:home' %}">MEDIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'medic:home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">News</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">News</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'medic:procedure_list' %}">Procedures</a>
                </li>
                {% if user.is_authenticated and 'manager' in groups %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:user_list' %}">Clients</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'medic:contacts' %}">Contacts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">My Profile</a></li>
                            {% if 'manager' not in groups %}
                            <li><a class="dropdown-item" href="{% url 'medic:procedure_list' %}">My Procedures</a></li>
                            {% endif %}
                            <li>
                                <form method="post" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <button class="dropdown-item" type="submit">Exit</button>
                                </form>
                            </li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'users:register' %}">Registration</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
{% endblock %}