{% extends 'medic/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row mb-4">
    <div class="col-8">
        <h2 class="mb-4">MEDIC – современная цифровая лаборатория с полным спектром исследований</h2>
        <h6 class="mb-4">Современная лаборатория. Более 1500 видов анализов выполняются в собственной
            высокотехнологичной лаборатории MEDIC. Автоматизированные методы исследования, новейшее оборудование и
            ежедневный контроль качества обеспечивают получение точных результатов. Продвинутая система трекинга
            поможет следить за статусом готовности анализов.</h6>
        <h6 class="mb-4">Инструментальная диагностика. УЗИ на аппаратах экспертного класса, ЭКГ, суточный монитор АД,
            холтеровское мониторирование ЭКГ, Электроэнцефалограмма, Спирография, ФГДС.</h6>
    </div>
</div>
<div class="row mb-4">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="card-body">
            <table class="table table-borderless text-center">
                <tr>
                    <th width="33%"><img src="media/home/home_1.PNG" width="120"></th>
                    <th width="33%"><img src="media/home/home_2.PNG" width="120"></th>
                    <th width="33%"><img src="media/home/home_3.PNG" width="120"></th>
                </tr>
                <tr>
                    <th width="33%">Высокотехнологичные лаборатории</th>
                    <th width="33%">Приемы врачей и диагностика</th>
                    <th width="33%">Возможности для теле-медицинских консультаций</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}