{% extends 'medic/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row text-center">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ object.picture | mymedia }}" class="img-thumbnail" width="500">
                <h2 class="card-title pricing-card-title">${{ object.price }}</h2>
                <h5 class="text-start m-3">{{ object.description }}</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-4">
                        <button type="button" class="btn btn-lg btn-block btn-primary">Записаться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}