{% extends 'medic/base.html' %}

{% block content %}
<form method="post" class="row" action="{% url 'users:password_reset' %}">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Восстановление пароля</h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-block btn-success mb-3">Восстановить пароль</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}